# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     text diff=csharp 
*.sln    text
*.csproj text
*.vbproj text
*.fsproj text
*.dbproj text

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf binary
*.PDF binary
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
