<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="S4PIDemoFE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="S4PIDemoFE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <userSettings>
    <S4PIDemoFE.Properties.Settings>
      <setting name="MRUListSize" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserExtensionsTxt" serializeAs="String">
        <value />
      </setting>
      <setting name="PersistentHeight" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PersistentWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="FormWindowState" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ColumnToSort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sort" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HexOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseNames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HexRowsize" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="UseTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColumnWidths" serializeAs="String">
        <value />
      </setting>
      <setting name="BookmarkSize" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="HexEditorCmd" serializeAs="String">
        <value />
      </setting>
      <setting name="HexEditorIgnoreTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HexEditorWantsQuotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoChoice" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Splitter1Position" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Splitter2Position" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LastExportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ResourceReplaceFilterIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TextEditorCmd" serializeAs="String">
        <value />
      </setting>
      <setting name="TextEditorIgnoreTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TextEditorWantsQuotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdateChoice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AULastUpdateTS" serializeAs="String">
        <value>2010-07-01</value>
      </setting>
      <setting name="AULastIgnoredVsn" serializeAs="String">
        <value>1007-01-0000</value>
      </setting>
      <setting name="PersistentLocation" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="GridSize" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="GridLocation" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="EnableDDSPreview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AskDBCAutoSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFallbackTextPreview" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFallbackHexPreview" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreviewZoomFactor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CustomPlacesCount" serializeAs="String">
        <value>4</value>
      </setting>
    </S4PIDemoFE.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <S4PIDemoFE.Properties.Settings>
      <setting name="DBPFFilesAndAll" serializeAs="String">
        <value>DBPF Packages|*.package;*.world;*.dbc;*.nhd|All Files|*.*</value>
      </setting>
    </S4PIDemoFE.Properties.Settings>
  </applicationSettings>
</configuration>